@media (max-width:800px){
    #page-home{background-position-x: 70vw ;}
    #page-home .content{align-items: center;text-align: center;}
    #page-home header a{position: absolute;bottom: 48px;left: 50%;transform: translateX(-50%);}
    #page-home main{align-items: center;}
    }

@media(max-width:750px){
    main{margin: 0 auto;}
    main .cards{display: grid;grid-template-columns: 1fr;}
    main .card p{margin-bottom: 25px;}
}